body{
    margin:5px;
    padding:5px;
    line-height:1.15;
 }
  
 h1,h2, h3{
    font-weight: bold;
    margin-top:15px;
  
 }
 ul li{
    margin-left: 25px;
    list-style-type: upper-roman;
 }

 nav li{
    background-color: aqua;
    border-radius: 25px;
    border: 2px solid black;
    display: inline-block;
    
 }



 main img{
    border: 2px solid black;
 }

 p{
    border: 1px solid black;
 }